Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "*.js": "yarn lint:js:fix",
  "*.css": "yarn lint:css:fix"
}

docs(readme): update title
  .editorconfig
  README.md
Due: none

feat(modal): add modal molecule
  .storybook/preview.js
  atoms/Heading/Heading.module.css
  atoms/Heading/__snapshots__/Heading.stories.js.snap
  atoms/Heading/constants.js
  index.js
  layout/CenteredContent/CenteredContent.js
  layout/CenteredContent/CenteredContent.module.css
  layout/CenteredContent/CenteredContent.stories.js
  layout/CenteredContent/__snapshots__/CenteredContent.stories.js.snap
  layout/Container/Container.js
  layout/Container/Container.module.css
  layout/Container/Container.stories.js
  layout/Container/__snapshots__/Container.stories.js.snap
  layout/FullHeightContent/FullHeightContent.js
  layout/FullHeightContent/FullHeightContent.module.css
  layout/FullHeightContent/FullHeightContent.stories.js
  layout/FullHeightContent/__snapshots__/FullHeightContent.stories.js.snap
  layout/Spacer/Spacer.js
  layout/Spacer/Spacer.module.css
  layout/Spacer/Spacer.stories.js
  layout/Spacer/__snapshots__/Spacer.stories.js.snap
  layout/Spacer/components/Horizontal/Horizontal.js
  layout/Spacer/components/Horizontal/Horizontal.stories.js
  layout/Spacer/components/Horizontal/__snapshots__/Horizontal.stories.js.snap
  layout/Spacer/components/Vertical/Vertical.js
  layout/Spacer/components/Vertical/Vertical.stories.js
  layout/Spacer/components/Vertical/__snapshots__/Vertical.stories.js.snap
  molecules/Modal/Modal.js
  molecules/Modal/Modal.module.css
  molecules/Modal/Modal.stories.js
  molecules/Modal/__snapshots__/Modal.stories.js.snap
  molecules/Modal/constants.js
  molecules/Modal/index.js
  styles/tokens.css
  tokens/Token/components/Spacing.js
  tokens/Token/components/__snapshots__/Color.stories.js.snap
  tokens/Token/components/__snapshots__/Spacing.stories.js.snap
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

feat(loading, error): add loading and error components
  atoms/Icon/constants.js
  atoms/Icon/helpers.js
  atoms/Loading/Loading.js
  atoms/Loading/Loading.module.css
  atoms/Loading/Loading.stories.js
  atoms/Loading/index.js
  index.js
  molecules/Error/Error.js
  molecules/Error/Error.module.css
  molecules/Error/Error.stories.js
  molecules/Error/constants.js
  molecules/Error/index.js
  molecules/LoadingError/LoadingError.js
  molecules/LoadingError/LoadingError.stories.js
  molecules/LoadingError/index.js
  molecules/Modal/Modal.js
  molecules/Modal/Modal.stories.js
  styles/tokens.css
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshots): update snapshots
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Icon/helpers.js
  atoms/Loading/Loading.stories.js
  atoms/Loading/__snapshots__/Loading.stories.js.snap
  molecules/Error/Error.module.css
  molecules/Error/__snapshots__/Error.stories.js.snap
  molecules/LoadingError/__snapshots__/LoadingError.stories.js.snap
  molecules/Modal/__snapshots__/Modal.stories.js.snap
  tokens/Token/components/__snapshots__/Color.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

fix(loading): remove children when loadin is shown
  atoms/Loading/Loading.js
  atoms/Loading/Loading.module.css
  package.json
  yarn.lock
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshots): fix snapshots with global parameters
  atoms/Loading/Loading.js
  atoms/Loading/Loading.stories.js
  atoms/Loading/__snapshots__/Loading.stories.js.snap
  layout/CenteredContent/CenteredContent.stories.js
  layout/Container/Container.stories.js
  layout/FullHeightContent/FullHeightContent.stories.js
  layout/Spacer/Spacer.stories.js
  layout/Spacer/components/Horizontal/Horizontal.stories.js
  layout/Spacer/components/Vertical/Vertical.stories.js
  molecules/Modal/Modal.stories.js
Due: yarn lint:js:fix

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  88eea79750b7899145e5992c1de419553d44eb27
Due: none

test(eslint): update rules to avoid not meaninful proptypes
  .eslintrc.json
Due: none

feat(task-counter): enable default is collapse in task counter
  .storybook/preview.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/TaskCounter.module.css
  molecules/TaskCounter/TaskCounter.stories.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  aa56dab809ca3b8cdea45989cc7a3df1f8917a5e
Due: none

test: add id to the components in order to do integration tests
  molecules/AddButton/AddButton.js
  molecules/AddButton/__snapshots__/AddButton.stories.js.snap
  package.json
Due: yarn lint:js:fix

feat(link): add a link component
  atoms/Card/Card.module.css
  atoms/Link/Link.js
  atoms/Link/Link.module.css
  atoms/Link/Link.stories.js
  atoms/Link/constants.js
  atoms/Link/index.js
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/constants.js
  index.js
  package.json
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshot): update link and paragraph snapshots
  atoms/Link/__snapshots__/Link.stories.js.snap
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
Due: none

fix(paragraph): fix inline prop
  atoms/Link/Link.js
  atoms/Link/Link.module.css
  atoms/Link/__snapshots__/Link.stories.js.snap
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/Paragraph.stories.js
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3a867ef32d42a702a8a77ccdf38298da47772342
Due: none

Update README.md
  README.md
Due: none

feat(colors, tokens): add new tailwind colors into the tokens and font weight token in the storybook
  jest.config.js
  styles/tokens.css
  tokens/Token/Token.js
  tokens/Token/Token.module.css
  tokens/Token/components/Color.stories.js
  tokens/Token/components/FontWeight.js
  tokens/Token/components/FontWeight.stories.js
  tokens/Token/components/__snapshots__/Color.stories.js.snap
  tokens/Token/components/__snapshots__/FontWeight.stories.js.snap
  tokens/Token/components/index.js
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

fix(tokens): color tokens label description
  styles/tokens.css
  tokens/Token/Token.module.css
  tokens/Token/components/__snapshots__/Color.stories.js.snap
  tokens/Token/helpers.js
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7be62d86d905e29d2c2bf607f7cf429284c4fed3
Due: none

fix: change horizontal to vertical
  layout/FullHeightContent/FullHeightContent.js
  layout/FullHeightContent/__snapshots__/FullHeightContent.stories.js.snap
  layout/Spacer/Spacer.js
  layout/Spacer/Spacer.module.css
  layout/Spacer/components/Bertical/Bertical.js
  layout/Spacer/components/Bertical/Bertical.stories.js
  layout/Spacer/components/Bertical/__snapshots__/Horizontal.stories.js.snap
  layout/Spacer/components/Bertical/index.js
  layout/Spacer/components/Horizontal/index.js
  layout/Spacer/components/index.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

fix: rename vertical to horizontal
  layout/Spacer/Spacer.js
  layout/Spacer/Spacer.module.css
  layout/Spacer/components/Bertical/__snapshots__/Bertical.stories.js.snap
  layout/Spacer/components/Horizontal/Horizontal.js
  layout/Spacer/components/Horizontal/Horizontal.stories.js
  layout/Spacer/components/Horizontal/__snapshots__/Horizontal.stories.js.snap
  layout/Spacer/components/Horizontal/index.js
  layout/Spacer/components/Vertical/index.js
  layout/Spacer/components/index.js
  molecules/AddButton/AddButton.js
  molecules/AddButton/__snapshots__/AddButton.stories.js.snap
  molecules/ButtonIcon/ButtonIcon.js
  molecules/ButtonIcon/__snapshots__/ButtonIcon.stories.js.snap
  molecules/Error/Error.js
  molecules/Error/__snapshots__/Error.stories.js.snap
  molecules/LoadingError/__snapshots__/LoadingError.stories.js.snap
  molecules/Task/Task.js
  molecules/Task/__snapshots__/Task.stories.js.snap
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

fix: rename bertical to vertical
  layout/FullHeightContent/FullHeightContent.js
  layout/FullHeightContent/__snapshots__/FullHeightContent.stories.js.snap
  layout/Spacer/Spacer.js
  layout/Spacer/Spacer.module.css
  layout/Spacer/components/Bertical/index.js
  layout/Spacer/components/Vertical/Vertical.js
  layout/Spacer/components/Vertical/Vertical.stories.js
  layout/Spacer/components/Vertical/__snapshots__/Vertical.stories.js.snap
  layout/Spacer/components/Vertical/index.js
  layout/Spacer/components/index.js
  molecules/LoadingError/LoadingError.stories.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
  tokens/Token/components/FontWeight.js
Due: yarn lint:js:fix, yarn lint:css:fix

fix(link): add a better weight to the link
  atoms/Link/Link.js
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/constants.js
Due: yarn lint:js:fix, yarn lint:css:fix

build(deploy): enable production build of storybook with docs
  package.json
Due: none

test(snapshot): update link snapshot
  atoms/Link/__snapshots__/Link.stories.js.snap
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ffc6a43962d53b45b4709b52bf7d50fb4e2d5729
Due: none

feat(colors): improve colors definitions
  atoms/Card/Card.module.css
  atoms/Heading/Heading.module.css
  atoms/Icon/Icon.module.css
  styles/tokens.css
  tokens/Token/components/Color.stories.js
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshot): update token color snapshot
  tokens/Token/components/__snapshots__/Color.stories.js.snap
Due: none

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c8439e3f33984dbeefc14df0cf71c1fd9ffdc2a5
Due: none
