Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "*.js": "yarn lint:js:fix",
  "*.css": "yarn lint:css:fix"
}

fix: support more sizes link and fix minor issues with arg types
  atoms/Link/Link.js
  atoms/Link/Link.stories.js
  atoms/Link/constants.js
  layout/Container/Container.module.css
  molecules/AddButton/constants.js
  molecules/Error/Error.stories.js
  molecules/Error/constants.js
  molecules/Error/index.js
  molecules/Modal/Modal.module.css
  molecules/Modal/Modal.stories.js
  styles/tokens.css
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

refactor(modal): move modal as an atom
  atoms/Check/Check.js
  atoms/Link/__snapshots__/Link.stories.js.snap
  atoms/Modal/Modal.js
  atoms/Modal/Modal.module.css
  atoms/Modal/Modal.stories.js
  atoms/Modal/__snapshots__/Modal.stories.js.snap
  atoms/Modal/constants.js
  atoms/Modal/index.js
  index.js
  tokens/Token/components/__snapshots__/FontSize.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

feat(icon): remove fullfiled background
  atoms/Icon/Icon.module.css
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Icon/constants.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2ae4777f030caf2567da36121cb0f88b39096951
Due: none

feat(accordion): add accordion molecule and refactor task counter
  atoms/Button/Button.stories.js
  atoms/Button/__snapshots__/Button.stories.js.snap
  molecules/Accordion/Accordion.js
  molecules/Accordion/Accordion.module.css
  molecules/Accordion/Accordion.stories.js
  molecules/Accordion/__snapshots__/Accordion.stories.js.snap
  molecules/Accordion/index.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/TaskCounter.stories.js
  molecules/TaskCounter/constants.js
  molecules/TaskCounter/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

fix(accordion): export accordion molecule in the index
  index.js
Due: yarn lint:js:fix

feat(textarea): add new textarea atom
  .storybook/main.js
  atoms/Button/Button.stories.js
  atoms/Divider/Divider.stories.js
  atoms/Icon/Icon.stories.js
  atoms/Textarea/Textarea.js
  atoms/Textarea/Textarea.module.css
  atoms/Textarea/Textarea.stories.js
  atoms/Textarea/__snapshots__/Textarea.stories.js.snap
  atoms/Textarea/index.js
  config/cssModules.js
  index.js
  molecules/AddButton/AddButton.stories.js
  molecules/AddButton/handlers.test.js
  molecules/AddButton/helpers.test.js
  molecules/Dropdown/Dropdown.stories.js
  molecules/Score/Score.js
  molecules/Score/Score.module.css
  molecules/Score/Score.stories.js
  molecules/Score/faces/happy.svg
  molecules/Score/faces/normal.svg
  molecules/Score/faces/sad.svg
  molecules/Score/index.js
  molecules/Task/Task.stories.js
  package.json
  styles/tokens.css
  tokens/index.js
  webpack/cssModules.js
  webpack/loadConfigs.js
  webpack/reactInlineSvg.js
  yarn.lock
Due: yarn lint:js:fix, yarn lint:css:fix

test: add tests to handlers and helpers of add button
  molecules/AddButton/handlers.test.js
  molecules/AddButton/helpers.test.js
Due: yarn lint:js:fix

ci(codecov): disable github annotations
  codecov.yml
Due: none

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  36e1454b6b9f61ab16f498e87a29fb157846a6d5
Due: none

feat(handlers): add missing handlers to the components
  atoms/Button/Button.js
  atoms/Button/Button.test.js
  atoms/Input/Input.js
  atoms/Textarea/Textarea.js
  atoms/Textarea/__snapshots__/Textarea.stories.js.snap
  molecules/AddButton/handlers.js
  molecules/Task/Task.js
  package.json
  yarn.lock
Due: yarn lint:js:fix

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b9f170e7c1c1c39c4f2cd2d73e9a0fdf53738cac
Due: none

test(button): add button handler tests
  atoms/Button/Button.js
  atoms/Button/Button.test.js
Due: yarn lint:js:fix

fix(taskcounter): return children when is toggleable
  atoms/Button/Button.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/TaskCounter.stories.js
Due: yarn lint:js:fix

test(snapshots): update TaskCounter snapshots
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
Due: none

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  36fff41149b34c389e2fd1090f61b754a1893151
Due: none

feat(task): move onCheck action to the check component
  molecules/Task/Task.js
  molecules/Task/Task.module.css
  molecules/Task/__snapshots__/Task.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  023dfe03675cc2e70b638e59c78f79aa3bc845c7
Due: none

feat(modal): allow secondary option
  atoms/Modal/Modal.js
  atoms/Modal/Modal.module.css
  atoms/Modal/Modal.stories.js
  atoms/Modal/__snapshots__/Modal.stories.js.snap
  utils/isEmptyObject.js
  utils/isObject.js
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  93c3e43597d5a2f2f924ebff6377aa8a3524c8d4
Due: none

feat(iconlabel): add IconLabel component
  atoms/Button/Button.js
  atoms/Card/Card.js
  atoms/Icon/Icon.js
  atoms/Icon/Icon.module.css
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Icon/constants.js
  atoms/Link/__snapshots__/Link.stories.js.snap
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
  atoms/Paragraph/constants.js
  index.js
  molecules/IconLabel/IconLabel.js
  molecules/IconLabel/IconLabel.module.css
  molecules/IconLabel/IconLabel.stories.js
  molecules/IconLabel/__snapshots__/IconLabel.stories.js.snap
  molecules/IconLabel/constants.js
  molecules/IconLabel/index.js
  styles/tokens.css
  tokens/Token/components/__snapshots__/Color.stories.js.snap
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

Notes added by 'git notes add'
  ada11ecb27a6a4b89556aa6cb6b6fdff1444f343
Due: none

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

feat(icon-label): add IconLabel sizes
  molecules/IconLabel/IconLabel.js
  molecules/IconLabel/constants.js
  styles/tokens.css
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshots): update snapshots
  tokens/Token/components/__snapshots__/FontSize.stories.js.snap
Due: none

chore(release): 2.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  25cc67ce4554b069ae7fe8f1fd2bb59a91a8c625
Due: none

feat(paragraph): support monospace font family
  atoms/Paragraph/Paragraph.js
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/Paragraph.stories.js
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 2.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1023b3c50c1b11be86cc8d28b2129ec7267a2b0c
Due: none

feat(icon): add play icon
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Icon/constants.js
Due: yarn lint:js:fix

chore(release): 2.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1f32b46b1175675f3d4ff35f894cee6e8f26dc67
Due: none

feat(add button): key shortcuts and is invalid animation
  atoms/Modal/Modal.js
  molecules/AddButton/AddButton.js
  molecules/AddButton/AddButton.module.css
  molecules/AddButton/AddButton.stories.js
  molecules/AddButton/__snapshots__/AddButton.stories.js.snap
  molecules/AddButton/handlers.js
  molecules/AddButton/hooks.js
  utils/isEmpty.js
  utils/isEmpty.test.js
  utils/isEmptyObject.js
  utils/keyboardCodes.js
Due: yarn lint:js:fix, yarn lint:css:fix
