Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "*.js": "yarn lint:js:fix",
  "*.css": "yarn lint:css:fix"
}

fix: simplify CSS modules config to minimal working version
  webpack/cssModules.js
Due: yarn lint:js:fix

fix: properly exclude .module.css from default CSS rules
  webpack/cssModules.js
Due: yarn lint:js:fix

chore: commit changes
  .nvmrc
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: commit changes
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

fix: configure CSS modules to export default object
  webpack/cssModules.js
Due: yarn lint:js:fix

feat: enable docs for all stories
  .storybook/main.js
Due: yarn lint:js:fix

fix: enable autodocs for all stories automatically
  .storybook/main.js
Due: yarn lint:js:fix

feat: add autodocs tag to Button story
  atoms/Button/Button.stories.js
Due: yarn lint:js:fix

fix: migrate to Storybook 10 tags-based autodocs system
  .storybook/main.js
  .storybook/preview.js
Due: yarn lint:js:fix

chore: commit changes
  .storybook/main.js
  .storybook/preview.js
  .yarn/install-state.gz
  package.json
  storybook.test.js
  yarn.lock
Due: yarn lint:js:fix

chore: commit changes
  package.json
Due: none

chore: commit changes
  .storybook/main.js
  .yarn/install-state.gz
  atoms/Button/Button.stories.js
  package.json
  yarn.lock
Due: yarn lint:js:fix

chore: commit changes
  webpack/cssModules.js
Due: yarn lint:js:fix

Revert "chore: commit changes"
  webpack/cssModules.js
Due: yarn lint:js:fix

chore: commit changes
  .github/workflows/release.yml
  .github/workflows/review.yml
  .yarnrc.yml
  package.json
Due: none

chore: commit changes
  .yarnrc.yml
Due: none

chore: commit changes
  .eslintrc.json
  .storybook/main.js
  .yarn/install-state.gz
  atoms/Button/Button.module.css
  atoms/Check/Check.module.css
  atoms/Check/__snapshots__/Check.js.snap
  atoms/Icon/Icon.module.css
  atoms/Input/Input.module.css
  atoms/Loading/Loading.module.css
  atoms/Modal/__snapshots__/Modal.js.snap
  atoms/Paragraph/Paragraph.js
  atoms/Textarea/Textarea.module.css
  eslint.config.mjs
  jest.config.js
  jest.resolver.js
  jest.setup.js
  molecules/Accordion/__snapshots__/Accordion.js.snap
  molecules/AddButton/AddButton.module.css
  molecules/AddButton/__snapshots__/AddButton.js.snap
  molecules/ButtonIcon/__snapshots__/ButtonIcon.js.snap
  molecules/Dropdown/Dropdown.js
  molecules/Dropdown/Dropdown.module.css
  molecules/Dropdown/__snapshots__/Dropdown.js.snap
  molecules/Error/__snapshots__/Error.js.snap
  molecules/IconLabel/__snapshots__/IconLabel.js.snap
  molecules/LoadingError/__snapshots__/LoadingError.js.snap
  molecules/Score/__snapshots__/Score.js.snap
  molecules/Task/Task.module.css
  molecules/Task/__snapshots__/Task.js.snap
  molecules/TaskCounter/__snapshots__/TaskCounter.js.snap
  package.json
  scripts/create-component.js
  tokens/Token/Token.module.css
  tokens/Token/components/Color.stories.js
  tokens/Token/helpers.js
  utils/isEmpty.test.js
  utils/toPascalCase.js
  webpack/cssModules.js
  webpack/reactInlineSvg.js
  yarn.lock
Due: yarn lint:js:fix, yarn lint:css:fix

feat: migrate from Jest/Webpack to Vitest/Vite
  .storybook/main.js
  .storybook/preview.jsx
  atoms/Button/Button.test.js
  atoms/Modal/handlers.test.js
  handlers/createHandlerChange.test.js
  handlers/createHandlerClick.test.js
  package.json
  storybook.test.js
  vite.config.js
  vitest.setup.js
  yarn.lock
Due: yarn lint:js:fix

chore: commit changes
  .storybook/main.js
  .yarn/install-state.gz
  tokens/index.js
  yarn.lock
Due: yarn lint:js:fix

fix: complete Vitest migration - 159/160 tests passing (99.4%)
  atoms/Button/Button.test.jsx
  atoms/Modal/handlers.test.js
  storybook.snapx
  storybook.test.js
  storybook.test.jsx
  utils/testUtils/matchMediaMock.js
  vite.config.js
Due: yarn lint:js:fix

fix: pass defaultProps to wrapped components for React 19 compatibility
  hocs/withStyles.js
  storybook.snapx
Due: yarn lint:js:fix

fix: resolve prettier lint errors in vite.config.js and vitest.setup.js
  vite.config.js
  vitest.setup.js
Due: yarn lint:js:fix

fix: use ?react suffix for SVG imports in Score component
  molecules/Score/Score.js
  molecules/Score/__snapshots__/Score.js.snap
Due: yarn lint:js:fix

fix: add Score Default snapshot to storybook.snapx
  storybook.snapx
Due: none

fix: exclude node_modules from jsxPlugin transform in Storybook config
  .storybook/main.js
Due: yarn lint:js:fix

fix: apply prettier formatting to jsxPlugin condition
  .storybook/main.js
Due: yarn lint:js:fix

fix: replace custom jsxPlugin with native esbuild config in Storybook
  .storybook/main.js
Due: yarn lint:js:fix

fix: generate sourcemaps in jsx-transform plugin to prevent JSON parse error
  .storybook/main.js
Due: yarn lint:js:fix

fix: convert toKebabCase to ESM to resolve rollup default export error
  scripts/build-tokens.js
  scripts/create-component.js
  utils/toKebabCase.js
Due: yarn lint:js:fix

test: add missing handler tests to raise function coverage above 55%
  atoms/Heading/handlers.test.js
  atoms/Modal/handlers.test.js
  molecules/AddButton/handlers.test.js
Due: yarn lint:js:fix

fix: add vitest globals to eslint config to resolve vi is not defined errors
  eslint.config.mjs
Due: none

fix: add height 100% to #storybook-root to restore full-height expansion
  .storybook/preview-head.html
Due: none

docs: align README with the sibling repos
  README.md
Due: none
