Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "*.js": "yarn lint:js:fix",
  "*.css": "yarn lint:css:fix"
}

Notes added by 'git notes add'
  eece3c9ae146d585b92c39043f7b0d3e2bb76323
Due: none

chore(release): 2.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Update README.md
  README.md
Due: none

chore(storybook): update Storybook version
  .eslintrc.json
  package.json
  yarn.lock
Due: none

ci(engines): update engines version
  atoms/Button/Button.module.css
  molecules/Error/Error.js
  molecules/Error/Error.module.css
  package.json
Due: yarn lint:js:fix, yarn lint:css:fix

ci(actions): update Node.js versions
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

build(node version): change node version to be compatible with GitHub Actions
  package.json
Due: none

test(snapshot): update snapshots
  molecules/Error/__snapshots__/Error.stories.js.snap
  molecules/LoadingError/__snapshots__/LoadingError.stories.js.snap
Due: none

ci(storybook): fix only docs storybook
  package.json
Due: none

fix(tokens): fix token story size
  tokens/Token/Token.module.css
  tokens/Token/components/Color.stories.js
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshot): update tokens color snapshots
  tokens/Token/components/__snapshots__/Color.stories.js.snap
Due: none

ci(storybook): change build method
  package.json
Due: none

fix(test): fix svgr mock for tests
  jest.config.js
  molecules/Error/Error.module.css
  molecules/Score/__snapshots__/Score.stories.js.snap
  utils/testUtils/svgrMock.js
Due: yarn lint:js:fix, yarn lint:css:fix

Notes added by 'git notes add'
  a1a8e1451ac0ce822e6a128d074c2a94e6091322
Due: none

chore(release): 2.11.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

feat(modal): add modal animation
  atoms/Button/Button.js
  atoms/Heading/Heading.js
  atoms/Heading/Heading.module.css
  atoms/Heading/Heading.stories.js
  atoms/Icon/constants.js
  atoms/Modal/Modal.js
  atoms/Modal/Modal.module.css
  atoms/Paragraph/Paragraph.js
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/Paragraph.stories.js
  atoms/Picture/Picture.module.css
  hook/useMedia.js
  layout/CenteredContent/CenteredContent.module.css
  package.json
  styles/tokens.css
  tokens/index.js
  yarn.lock
Due: yarn lint:js:fix, yarn lint:css:fix

test(modal): remove animations on playground
  atoms/Button/__snapshots__/Button.stories.js.snap
  atoms/Heading/__snapshots__/Heading.stories.js.snap
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Link/__snapshots__/Link.stories.js.snap
  atoms/Modal/Modal.module.css
  atoms/Modal/Modal.stories.js
  atoms/Modal/__snapshots__/Modal.stories.js.snap
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
  molecules/Accordion/__snapshots__/Accordion.stories.js.snap
  molecules/AddButton/__snapshots__/AddButton.stories.js.snap
  molecules/ButtonIcon/__snapshots__/ButtonIcon.stories.js.snap
  molecules/Error/__snapshots__/Error.stories.js.snap
  molecules/IconLabel/__snapshots__/IconLabel.stories.js.snap
  molecules/LoadingError/__snapshots__/LoadingError.stories.js.snap
  molecules/Score/__snapshots__/Score.stories.js.snap
  molecules/Task/__snapshots__/Task.stories.js.snap
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
  storybook.test.js
  utils/testUtils/matchMediaMock.js
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 2.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  56306f6d7cb4339dddb63da6ba4c1c3202fdeaf9
Due: none

fix(score): remove temporarily Score component
  index.js
Due: yarn lint:js:fix

Notes added by 'git notes add'
  f84fe37ee0d307dfe813b0745edadabf0a4ef03a
Due: none

chore(release): 2.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore(dependencies): upgrade patch and minor
  package.json
  yarn.lock
Due: none

chore(dependencies): update major dependencies, some jest config
  .storybook/main.js
  jest.config.js
  package.json
  storybook.test.js
  yarn.lock
Due: yarn lint:js:fix

test(snapshot): testing-react poc
  atoms/Button/Button.stories.js
  atoms/Button/Button.test.js
  atoms/Button/__snapshots__/Button.test.js.snap
  jest.config.js
  molecules/Score/Score.js
  package.json
  yarn.lock
Due: yarn lint:js:fix

build: rebase changes
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: none

chore: rebase changes
  .husky/prepare-commit-msg
  package.json
Due: none

build(husky): remove prepare message script
  .husky/prepare-commit-msg
  package.json
Due: none

test: improve general coverage
  atoms/Button/Button.js
  atoms/Button/Button.test.js
  atoms/Card/Card.js
  atoms/Icon/Icon.js
  atoms/Input/Input.js
  atoms/Loading/Loading.stories.js
  atoms/Loading/__snapshots__/Loading.test.js.snap
  atoms/Modal/Modal.js
  atoms/Modal/handlers.js
  atoms/Modal/handlers.test.js
  atoms/Textarea/Textarea.js
  handlers/handleChange.js
  handlers/handleChange.test.js
  handlers/handleClick.js
  handlers/handleClick.test.js
Due: yarn lint:js:fix

chore: revert yarn commit command
  package.json
Due: none

test(coverage): improve coverage
  atoms/Button/Button.js
  atoms/Card/Card.js
  atoms/Icon/Icon.js
  atoms/Input/Input.js
  atoms/Textarea/Textarea.js
  handlers/createHandlerChange.js
  handlers/createHandlerChange.test.js
  handlers/createHandlerClick.js
  handlers/createHandlerClick.test.js
  handlers/handleChange.js
  handlers/handleClick.js
  molecules/Score/Score.js
  molecules/Score/Score.test.js
  molecules/Score/__snapshots__/Score.test.js.snap
  molecules/Task/Task.js
Due: yarn lint:js:fix

build(webpack): upgrade to use webpack 5
  .storybook/main.js
  index.js
  package.json
  webpack/reactInlineSvg.js
  yarn.lock
Due: yarn lint:js:fix

chore(commitizen): change configuration to use the file instead
  .czrc
  package.json
Due: none

style(jest config): sort jest config file
  jest.config.js
Due: yarn lint:js:fix

feat(heading): make heading editable
  atoms/Heading/Heading.js
  atoms/Heading/handlers.js
  atoms/Modal/Modal.js
  layout/Container/Container.js
  layout/Container/Container.module.css
Due: yarn lint:js:fix, yarn lint:css:fix

chore: remove false as contenteditable and make container not centered by default
  atoms/Heading/Heading.js
  layout/Container/Container.js
Due: yarn lint:js:fix
