Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.6.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  abb9db024e36a29df005c1fb53dd68a0fca91847
Due: none

fix: testing that skip ci does not trigger the GitHub Actions
  .github/workflows/release.yml
  README.md
Due: none

chore(release): 1.6.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ce5628af4fd94fd26706e63332f1274d21d81cfd
Due: none

build: enable node v15.0.0 back to engines
  .github/workflows/release.yml
  .nvmrc
  README.md
  package.json
Due: none

chore: enable commitlint
  .commitlintrc.json
  .huskyrc.json
  package.json
  yarn.lock
Due: none

chore: enable commitizen
  README.md
  package.json
  yarn.lock
Due: none

style(storybook): change storybook styles to paremeters instead of args
  .storybook/preview.js
  .stylelintignore
  atoms/Avatar/Avatar.stories.js
  atoms/Icon/Icon.stories.js
  layout/Spacer/Spacer.stories.js
  layout/Spacer/components/Vertical.stories.js
  package.json
  tokens/Token/components/Color.stories.js
  tokens/Token/components/Spacing.stories.js
Due: yarn lint:js:fix

fix(storybook): snapshot tests with proper default props and correct Spacer subcomponent integration
  atoms/Heading/__snapshots__/Heading.stories.js.snap
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  helpers/storybook.js
  layout/Spacer/Spacer.js
  layout/Spacer/components/Horizontal/__snapshots__/Horizontal.stories.js.snap
  layout/Spacer/components/Vertical/__snapshots__/Vertical.stories.js.snap
  tokens/Token/components/__snapshots__/Color.stories.js.snap
Due: yarn lint:js:fix

chore(release): 1.6.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9a4001e081cdff9fee5e1670d69225ea084ed8c2
Due: none

build(github actions): enable Chromatic in the review GitHub Action
  .github/workflows/review.yml
  helpers/styles.test.js
  package.json
Due: yarn lint:js:fix

build(github actions): enable full git history for chromatic
  .github/workflows/review.yml
Due: none

feat(task): enable task type
  .github/workflows/release.yml
  .github/workflows/review.yml
  molecules/Task/Task.js
  molecules/Task/Task.module.css
Due: yarn lint:js:fix, yarn lint:css:fix

test(snapshots): update task snapshots
  molecules/Task/__snapshots__/Task.stories.js.snap
Due: none

feat(card, task, addbutton): add Card draggable state, add pending Task, fix AddButton prop name
  atoms/Card/Card.js
  atoms/Card/Card.module.css
  atoms/Card/Card.stories.js
  atoms/Card/__snapshots__/Card.stories.js.snap
  molecules/AddButton/AddButton.js
  molecules/AddButton/AddButton.stories.js
  molecules/AddButton/helpers.js
  molecules/Task/Task.js
  molecules/Task/Task.module.css
  molecules/Task/Task.stories.js
  molecules/Task/__snapshots__/Task.stories.js.snap
  molecules/Task/constants.js
Due: yarn lint:js:fix, yarn lint:css:fix

refactor(button, card): improve active state
  atoms/Button/Button.module.css
  atoms/Card/Card.js
  atoms/Card/Card.module.css
  atoms/Card/Card.stories.js
  styles/tokens.css
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

chore(lint): add linting to json with prettier
  .gitignore
  .lintstagedrc.json
  .releaserc.json
  atoms/Card/__snapshots__/Card.stories.js.snap
  molecules/AddButton/handlers.js
  package.json
  styles/globals.css
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06858898915c8dbe529967fb3682868ea182d062
Due: none

test(styles): add missing tests for getClasses function
  helpers/styles.js
  helpers/styles.test.js
Due: yarn lint:js:fix

chore(nvm): update nvm file
  .nvmrc
Due: none

Path conditions:
  yarn lint:js:fix: any of: *.js
  yarn lint:css:fix: any of: *.css
