Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

test(snapshots): update snapshots of the container component
  layout/Container/Container.stories.js
  layout/Container/__snapshots__/Container.test.js.snap
Due: yarn lint:js:fix

test(snapshots): include default args
  atoms/Avatar/__snapshots__/Avatar.js.snap
  atoms/Button/__snapshots__/Button.js.snap
  atoms/Card/__snapshots__/Card.js.snap
  atoms/Heading/__snapshots__/Heading.js.snap
  atoms/Icon/__snapshots__/Icon.js.snap
  atoms/Input/__snapshots__/Input.js.snap
  atoms/Link/__snapshots__/Link.js.snap
  atoms/Loading/__snapshots__/Loading.js.snap
  atoms/Modal/__snapshots__/Modal.js.snap
  atoms/Paragraph/__snapshots__/Paragraph.js.snap
  atoms/Picture/__snapshots__/Picture.js.snap
  atoms/Textarea/__snapshots__/Textarea.js.snap
  layout/CenteredContent/__snapshots__/CenteredContent.js.snap
  layout/Container/__snapshots__/Container.js.snap
  layout/FullHeightContent/__snapshots__/FullHeightContent.js.snap
  layout/Spacer/__snapshots__/Spacer.js.snap
  layout/Spacer/components/Horizontal/__snapshots__/Horizontal.js.snap
  layout/Spacer/components/Vertical/__snapshots__/Vertical.js.snap
  molecules/Accordion/__snapshots__/Accordion.js.snap
  molecules/AddButton/__snapshots__/AddButton.js.snap
  molecules/ButtonIcon/__snapshots__/ButtonIcon.js.snap
  molecules/Dropdown/__snapshots__/Dropdown.js.snap
  molecules/Error/__snapshots__/Error.js.snap
  molecules/IconLabel/__snapshots__/IconLabel.js.snap
  molecules/LoadingError/__snapshots__/LoadingError.js.snap
  molecules/Task/__snapshots__/Task.js.snap
  molecules/TaskCounter/__snapshots__/TaskCounter.js.snap
  storybook.test.js
  tokens/Token/components/__snapshots__/FontFamily.js.snap
  tokens/Token/components/__snapshots__/FontSize.js.snap
  tokens/Token/components/__snapshots__/FontWeight.js.snap
Due: yarn lint:js:fix

refactor(storybook.test.js): refactor storybook.test.js file
  storybook.test.js
Due: yarn lint:js:fix

chore: move constants to the top
  storybook.test.js
Due: yarn lint:js:fix

chore: add breakline for redability
  storybook.test.js
Due: yarn lint:js:fix

chore: trying to use @glrodasz/storybook-tools-snapshots
  jest.config.js
  layout/Spacer/components/Horizontal/Horizontal.stories.js
  layout/Spacer/components/Vertical/Vertical.stories.js
  package.json
  storybook.test.js
  styles/tokens.css
  tokens/Token/components/Color.stories.js
  tokens/Token/components/FontFamily.stories.js
  tokens/Token/components/FontSize.stories.js
  tokens/Token/components/FontWeight.stories.js
  tokens/Token/components/Spacing.stories.js
  tokens/index.js
  yarn.lock
Due: yarn lint:js:fix, yarn lint:css:fix

chore: format IconLabel.stories.js
  molecules/IconLabel/IconLabel.stories.js
Due: yarn lint:js:fix

test(snapshots): fix snapshots library inclusion
  jest.config.js
  molecules/Score/__snapshots__/Score.js.snap
  package.json
  storybook.test.js
  utils/testUtils/svgrMock.js
  yarn.lock
Due: yarn lint:js:fix

build: update styles dep
  package.json
  yarn.lock
Due: none

test(snapshots): update snapshots
  molecules/Task/__snapshots__/Task.js.snap
Due: none

v2.13.0
  package.json
Due: none

build(test coverage): change threshold
  jest.config.js
Due: yarn lint:js:fix

Update README.md
  README.md
Due: none

ci(release): remove unnecessary token
  .github/workflows/release.yml
Due: none

feat(none): this is not a real feature, we want to check the semantic release process
  README.md
Due: none

feat(heading): make heading editable
  atoms/Heading/Heading.js
  atoms/Heading/handlers.js
  atoms/Modal/Modal.js
  layout/Container/Container.js
  layout/Container/Container.module.css
Due: yarn lint:js:fix, yarn lint:css:fix

BREAKING CHANGE: commit history changed
  README.md
  package.json
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

ci: update node version in ci
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

chore: update commitlint config
  .commitlintrc.js
  .commitlintrc.json
  .nvmrc
  jest.config.js
Due: yarn lint:js:fix

chore: put github token back
  .github/workflows/release.yml
Due: none

chore(release): 2.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f902753e442636903e79df353648d37c94b0358a
Due: none

fix(ci): fix ci publishing
  README.md
Due: none

chore(release): 2.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7e5d786b190c96a3a4d715e9f0f4a5785bf4b9d0
Due: none

Update README.md [skip ci]
  README.md
Due: none

chore: upgrade react and storybook
  .npmrc
  .storybook/main.js
  package.json
  storybook.test.js
Due: yarn lint:js:fix

chore: upgrade to React 19.2, Storybook 10.0.1, and Node 24
  .storybook/main.js
  jest.config.js
  package.json
  storybook.test.js
  yarn.lock
Due: yarn lint:js:fix

fix: configure Babel for React 19 automatic JSX runtime
  .babelrc.json
  .storybook/main.js
Due: yarn lint:js:fix

fix: force Storybook to use Babel instead of SWC compiler
  .storybook/main.js
  package.json
Due: yarn lint:js:fix

fix: disable lazyCompilation to fix HMR communication error
  .storybook/main.js
Due: yarn lint:js:fix

fix: resolve multiple React versions with webpack aliases
  .storybook/main.js
Due: yarn lint:js:fix

fix: remove @storybook/addon-essentials from addons array
  .storybook/main.js
Due: yarn lint:js:fix

fix: update CSS modules configuration for Storybook 10
  webpack/cssModules.js
Due: yarn lint:js:fix

fix: refactor CSS modules webpack config for higher priority
  webpack/cssModules.js
Due: yarn lint:js:fix

fix: add style-loader and css-loader dependencies
  package.json
Due: none

Path conditions:
  yarn lint:js:fix: any of: *.js
  yarn lint:css:fix: any of: *.css
