Repository glrodasz/cero-components: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js:fix, yarn lint:css:fix

feat(tokens): fix border radius tokens
  atoms/Button/Button.module.css
  atoms/Card/Card.module.css
  molecules/Task/Task.module.css
  styles/tokens.css
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  33b16009ca6821f8dc03d2aa03066241bb0d2f2a
Due: none

test(helpers): add some tests for storybook
  helpers/storybook.test.js
  helpers/styles.test.js
Due: yarn lint:js:fix

ci(coverage): add coverage rules and setup codecov
  .github/workflows/review.yml
  atoms/Icon/helpers.js
  jest.config.js
  package.json
Due: yarn lint:js:fix

ci(coverage): fix coverage command
  .github/workflows/review.yml
Due: none

ci(docs): add storybook docs for build instead
  .github/workflows/release.yml
  .github/workflows/review.yml
  .storybook/preview.js
  README.md
  package.json
Due: yarn lint:js:fix

ci(docs): fix build:docs command
  package.json
Due: none

refactor(readme): added table of content
  README.md
Due: none

refactor(readme): added getting started and start developing
  README.md
Due: none

refactor(readme): added run test instructions
  README.md
Due: none

chore(npm scripts): remove blank space in package.json scripts
  package.json
Due: none

docs(readme): update README file
  README.md
Due: none

ci(vercel action): update vercel github action
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

ci(vercel): add vercel as a dev dependency
  package.json
  yarn.lock
Due: none

ci(vercel): remove vercel as a dependency
  package.json
  yarn.lock
Due: none

ci(skip steps): skip steps for ci
  .github/workflows/release.yml
Due: none

ci(gh actions): improve github actions eol
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

fix(task): fix onDelete click when pending and type props are passed
  molecules/Task/Task.module.css
  molecules/Task/Task.stories.js
  molecules/Task/__snapshots__/Task.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  503ed0c334cc86b66647bd9c034be48992262155
Due: none

refactor(check): change boolean prop to be consistent
  atoms/Check/Check.js
  molecules/Task/Task.js
  styles/tokens.css
  tokens/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

fix(check): add the proper prop change
  atoms/Check/Check.js
  atoms/Check/Check.stories.js
Due: yarn lint:js:fix

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  81f0a3cc861a2b222b3c8caedf8a66a6916b1446
Due: none

feat(divider): add divider atom
  atoms/Divider/Divider.js
  atoms/Divider/Divider.module.css
  atoms/Divider/Divider.stories.js
  atoms/Divider/index.js
  index.js
Due: yarn lint:js:fix, yarn lint:css:fix

feat(task-counter): add Task Counter and remaining snapshots
  atoms/Divider/__snapshots__/Divider.stories.js.snap
  atoms/Paragraph/Paragraph.js
  atoms/Paragraph/Paragraph.module.css
  atoms/Paragraph/Paragraph.stories.js
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
  index.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/TaskCounter.module.css
  molecules/TaskCounter/TaskCounter.stories.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
  molecules/TaskCounter/constants.js
  molecules/TaskCounter/index.js
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  37a6f1e7715d5b105f79ea493f8112235d8e5367
Due: none

feat(icon, task-counter): add new background to icon and make task counter toggleable
  atoms/Icon/Icon.module.css
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Icon/constants.js
  molecules/Task/Task.js
  molecules/TaskCounter/TaskCounter.js
  molecules/TaskCounter/TaskCounter.module.css
  molecules/TaskCounter/TaskCounter.stories.js
  molecules/TaskCounter/__snapshots__/TaskCounter.stories.js.snap
Due: yarn lint:js:fix, yarn lint:css:fix

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2e8fcfdacfd8317fa6daa46e421fe83e43fffd3b
Due: none

Path conditions:
  yarn lint:js:fix: any of: *.js
  yarn lint:css:fix: any of: *.css
